body {
  margin: 0;
  padding: 0;
}
.cardrestaurant {
  display: inline-block;
  margin-left: 10px;
  margin-top: 100px;
  border: none;
  cursor: pointer;
}
.cardresto-img-top {
  height: 250px;
}
.restoinp {
  font-size: 30px;
  margin-top: 7px;
}
.Login:hover {
  font-weight: 500;
}
.Logout:hover {
  font-weight: 500;
}
.resto_name {
  text-align: start;
}
.resto_type {
  text-align: start;
}
.resto_location {
  text-align: start;
}
.foodOnlineHeading {
  text-align: start;
}
.restaurantrate {
  text-align: end;
}
.cardbodyresto {
  height: 150px;
}
.restorate {
  background-color: green;
  height: 22px;
  border-radius: 25%;
  color: white;
  font-size: 15px;
}

@media (max-width: 1440px) {
  .restoinp {
    font-size: 20px;
  }
  input::placeholder {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .cardresto-img-top {
    height: 180px;
  }
  .cardbodyresto {
    height: 100px;
  }
  .resto_name {
    font-size: 10px;
  }
  .resto_type {
    font-size: 10px;
  }
  .restorate {
    height: 15px;
    border-radius: 25%;
    font-size: 10px;
  }
  .foodOnlineHeading {
    font-size: 25px;
  }
  input::placeholder {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .foodOnlineHeading {
    font-size: 20px;
  }
  .restoinp {
    font-size: 15px !important;
  }
  input::placeholder {
    font-size: 12px;
  }
  .cardresto-img-top {
    height: 145px;
 }
.mt-3.mx-5.productdetails.border-bottom {
  text-align: end;
}
.foodOnlinezomato{
  margin-left: 30px;
  margin-top: 10px;
}

}
