.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productsWrapper {
  /* display:flex;  */
  justify-content: space-around;
}
.imgproduct {
  margin-left: 190px;
}
.omfirstimg {
  margin-left: 190px;
}
.productdetails {
  text-align: left;
}
.col-9.producthead {
  text-align: start;
  margin-left: 190px;
}
.geeks {
  overflow: hidden;
  margin: 0 auto;
}

.geeks img {
  transition: 0.5s all ease-in-out;
}

.geeks:hover img {
  transform: scale(0.95);
}
.omsecondimg{
  margin-right: 300px;
}